@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/bg.png");

  background-size: cover;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-position: 50% 50%;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #474747; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #141212; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners */
  /* border: 3px solid #f1f1f1; Padding around the thumb */
}

/* Firefox */
* {
  /* scrollbar-width: thin; Makes the scrollbar narrower */
  scrollbar-color: #201e1e; /* Thumb color and track color */
}
